---
import { Image } from "astro:assets";
import snakeGif from "../../public/snake.gif";
const { title, subtitle, text } = Astro.props;
---

<div class="w-full flex justify-around items-center mt-20">
  <Image src={snakeGif} alt="Snake GIF" class="w-2/5" loading={"eager"} />

  <div class="flex flex-col w-1/4 text-right">
    <h2 class="text-2xl">{title}</h2>
    <br />
    <h3 class="underline decoration-solid">{subtitle}</h3>
    <br />
    <p class="text-lg whitespace-pre-line">{text}</p>
  </div>
</div>

<style>
  p {
    font-family: "Chakra Petch", serif;
  }
</style>
