<nav class="flex justify-center items-center p-5">
  <ul class="list-none flex space-x-8 cursor-pointer">
    <li><a href="/" class="neon">INICIO</a></li>
    <li><a href="#introduccion" class="neon">INTRODUCCION</a></li>
    <li><a href="#curiosidades" class="neon">CURIOSIDADES</a></li>
    <li><a href="#tutorial" class="neon">TUTORIAL</a></li>
    

  </ul>
</nav>
<style>
  .neon:hover {
    text-shadow:
      0 0 5px #00ffff,
      0 0 10px #00ffff,
      0 0 20px #00ffff,
      0 0 40px #00ffff;
      transition: ease 0.3s;
  }
</style>
