<div class="w-full mt-32 flex justify-center items-center">
  <div class="w-[65rem] flex flex-col justify-center items-center">
    <h2 class="text-2xl">TITULO</h2>
    <p class="text-center text-lg">
      ¡BIENVENIDO AL CLÁSICO JUEGO SNAKE! EN ESTE TUTORIAL APRENDERÁS CÓMO JUGAR
      Y DOMINAR ESTE ENTRETENIDO DESAFÍO.
    </p>
    <br /><br />
    <h2 class="text-lg">OBJETIVO</h2>
    <p class="text-center text-lg">
      CONTROLA A LA SERPIENTE PARA QUE COMA LA MAYOR CANTIDAD DE ALIMENTOS
      POSIBLES Y CREZCA. ¡EVITA CHOCAR CONTRA LAS PAREDES O CONTRA TI MISMO!
    </p>
    <br /><br />
    <h2 class="text-lg">CONTROLES DEL JUEGO</h2>
    <p class="text-center text-lg">
      USA LAS TECLAS DE FLECHA EN TU TECLADO PARA MOVER LA SERPIENTE EN LAS
      SIGUIENTES DIRECIONES:
      <br /><br />
      W: MOVER HACIA ARRIBA.
      <br />
      S: MOVER HACIA ABAJO.
      <br />
      A: MOVER HACIA LA IZQUIERDA.
      <br />
      D: MOVER HACIA LA DERECHA.
    </p>
  </div>
</div>
<style>
  p {
    font-family: "Chakra Petch", serif;
  }
</style>
